* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}
header {
  height: 150px;
  width: auto;
  border: 2px solid white;
}
nav {
  border: 1px solid white;
}
ul {
  border: 1px solid white;
  display: flex;
  text-align: center;
  justify-content: center;
}
ul > li {
  list-style: none;
  font-size: 30px;
  /* border: 1px solid red; */
  margin-left: 80px;
  margin-top: 60px;
}
img {
  margin: 35px 10px;
  border-radius: 10px;
  margin-right: 70px;
}
a {
  text-decoration: none;
}

.iCoder {
  margin-left: -160px;
}
